.perfil-container {
    display: flex;
    align-items: center;
    gap: 40px; /* espaço entre foto e nome */
    padding-top: 120px;
    padding-left: 80px;
}

.perfil-foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-nome {
    font-size: 40px;
    font-weight: bold;
}

.jogos-own {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto;
  padding: 32px;

  background: #d0d0d0;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  display: flex;
  flex-direction: column;
  gap: 20px;

  animation: fadeIn 0.4s ease-in-out;
}

.jogos-user {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 8px;
  padding-left: 5px;
  color: #333;
}

.lista-jogos-comprados {
  width: 100%;
}

.nenhum-jogo {
  font-size: 16px;
  color: #555;
  opacity: 0.8;
  padding: 10px;
}

/* animação sutil */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}