.perfil-container {
    display: flex;
    align-items: center;
    gap: 40px; /* espaço entre foto e nome */
    padding-top: 120px;
    padding-left: 80px;
}

.perfil-foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-nome {
    font-size: 40px;
    font-weight: bold;
}
.jogos-own{
    margin: 80px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;     /* permite quebrar linha */
    gap: 20px;           /* espaço entre cards */
    border-radius: 20px;
    padding: 32px;
    background: #eaeaea;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    min-height: 10px;
    max-width: 100%;
}

.jogos-user{
    padding-left: 40px;
    font-size: 20px;
}