.pai {
    overflow: visible;
    padding: 20px;
}

.box-cadastro {
    width: 700px;
    margin: 0 auto;
    margin-top: 110px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    
    box-shadow: 5px 5px 50px rgba(40, 1, 1, 0.3);
    border-radius: 5px;
}

p{
    margin-top: 0px;
    padding-top: 0px;
}