.finalizado-container {
    margin: 100px auto;
    background: #f7f7f7;
    padding: 32px;
    border-radius: 20px;
    max-width: 800px;
    box-shadow: 0 0 12px rgba(0,0,0,0.5);
    text-align: center;
}
