.pai {
    overflow: visible;
    padding: 20px;
}

.box-login {
    width: 700px;
    margin: 0 auto;
    margin-top: 110px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    
    box-shadow: 5px 5px 50px rgba(40, 1, 1, 0.3);
    border-radius: 5px;
}

.link-login {
  color: #4a120c;
  font-weight: bold;
  text-decoration: none;
}

.link-login:hover {
  text-decoration: underline;
}

p{
    margin-top: 0px;
    padding-top: 0px;
}
